@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #f3f3f3;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-basic{
  max-width: 50vw;
  margin: 0 auto;
  padding: 55px;
  box-sizing: border-box;

  background-color:  #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  font: bold 14px sans-serif;
  text-align: center;

}

.form-basic .form-row{
  text-align: left;
  margin-bottom: 5px;
  width: '100%';
}

.form-basic .form-title-row{
  text-align: center;
  margin-bottom: 55px;
  width: auto;
}
.form-basic h1{
  display: inline-block;
  box-sizing: border-box;
  color:  #4c565e;
  font-size: 24px;
  padding: 0 10px 15px;
  border-bottom: 2px solid #6caee0;
  margin: 0;
}

.form-basic .form-row > label{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  color: #5F5F5F;
  width: 100%;
  vertical-align: top;
  padding: 12px 25px;
}
.form-basic .form-row > label > span {
  box-sizing: border-box;
  color: #5F5F5F;
  width: 40%;
  vertical-align: center;
  padding: 15px 25px;
}
.form-row-double {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 5px;
  width: '100%';
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 25px;
}
.form-row-double > label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  color: #5F5F5F;
  width: 50%;
  vertical-align: top;
  padding: 12px 25px;
}
.form-row-double > label > span {
  text-align: left;
  box-sizing: border-box;
  color: #5F5F5F;
  width: 40%;
  padding: 15px 0px;
}
.input-group {
  display:flex;
  flex-direction: column;
  align-items: center;
  float: center;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}
.form-basic input{
  width: 100%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border: 1px solid #dbdbdb;
}

.error-message {
  color: #cc0033;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 0;
  text-align: left;
  width:100%;
  display: none
}




.form-row-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-row-button button{
  border-radius: 2px;
  background-color:  rgb(108, 174, 224);
  width: 40%;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin: 40px 183px 0;
  cursor: pointer;
}
.form-row-button button:hover{
  background-color: rgba(108, 174, 224, 0.5)

}
